$fw-regular: normal;
$fw-bold: bold;


$color-primary: #a78b6b;
$color-primary-dark: #a78b6c;
$color-secondary: #1d315c;
$color-black: #000;
$color-white: #fff;

$color-grey-dark-1: #555;
$color-grey-dark-2: #414a4f;

$color-grey-light: #f7f7f7;

$default-font: 2rem;
$font-button: 2.4rem;